*{
    padding: 0;
    margin: 0;
}
h1{
    color: red;
    margin-left: 35%;
    margin-bottom: 2%;
}
header{
    background-color: rgb(17, 17, 128);
    width: 100%;
    height: 100%;
    padding: 120px;
}
.main{
    background-color: white;
    width: 80%;
    height: 80%;
    padding: 45px;
}
.choose{
    gap: 10px;
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
}
.number{
    width: 50px;
    height: 50px;
    background-color: rgb(231, 231, 231);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
h3{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.input{
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}
input{
    width: 80%;
    height: 40px;
    border-radius: 2px;
    border: 1px solid rgb(120, 120, 120);
    padding-left: 15px;
}
button{
    width: 80px;
    height: 30px;
    background-color: rgb(192, 192, 192);
    border: none;
    border-radius: 4px;
    margin-left: -100px;
    margin-top: 5px;
    cursor: pointer;
}
.comment{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.edit{
    display: flex;
    gap: 20px;
    color: red;
}
#point{
    background-color: red;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#point2{
    margin-left: 20px;
    margin-top: 15px;
}
.number:hover {
    background-color: pink;
}